<nav class="navbar sticky-top bg-body-tertiary bg-light">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Logo alineado a la izquierda -->
    <div class="d-flex align-items-center p-3">
      <a routerLink="/presenter/qr-menu">
        <img src="assets/images/logo.png" alt="Logo principal" height="30">
      </a>
    </div>

    <!-- Contenedor derecho con botón de descanso y dropdown -->
    <div class="d-flex align-items-center justify-content-end">
      <div class="btn-group">
        <button class="btn btn-sm btn-secondary" (click)="sendStandBy()">
          <i class="fa-solid fa-mug-hot me-2"></i>Descanso
        </button>
        <!-- button para activar offcanvas -->
        <button class="btn btn-icon btn-primary ms-auto" type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#mSideObs"
                aria-controls="mSideObs">
          <i class="fe fe-menu"></i>
        </button>
      </div>
    </div>

  </div>
</nav>

<!-- Offcanvas menu para pantallas pequeñas -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="mSideObs" aria-labelledby="mSideObsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="mSideObsLabel">Menú</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="d-flex flex-column">

      <div class="mt-3">
        <h6 class="mb-2">Navegación</h6>
        <div class="d-flex gap-2">
          <!-- Botón para letras -->
          <div class="card card-custom flex-grow-1" role="button" routerLink="/presenter/obs-letters">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-music fa-lg text-secondary me-2"></i>
                <span>Letras</span>
              </div>
            </div>
          </div>

          <!-- Botón para biblia -->
          <div class="card card-custom flex-grow-1" role="button" routerLink="/presenter/obs-bible">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-book-bible fa-lg text-secondary me-2"></i>
                <span>Biblia</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-3">
        <h6 class="mb-2">OBS</h6>
        <div class="card card-custom mb-2" role="button" (click)="reload()">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-rotate-right fa-lg text-secondary me-3"></i>
              <span>Recargar</span>
            </div>
            <i class="fa-solid fa-chevron-right text-secondary"></i>
          </div>
        </div>
      </div>

      <!-- Selector de tamaño de letra -->
      <div class="mt-3">
        <h6 class="mb-2">Tamaño de letra ({{mTemplate.template_body_fontsize}})</h6>
        <div class="d-flex gap-2">
          <!-- Botón para disminuir tamaño -->
          <div class="card card-custom flex-grow-1" role="button" (click)="setFontSize('sub')">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-minus fa-lg text-secondary me-2"></i>
                <span>Disminuir</span>
              </div>
            </div>
          </div>

          <!-- Botón para aumentar tamaño -->
          <div class="card card-custom flex-grow-1" role="button" (click)="setFontSize('add')">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center">
                <i class="fa-solid fa-plus fa-lg text-secondary me-2"></i>
                <span>Aumentar</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones de animación -->
      <div class="mt-4">
        <h6 class="mb-2">Animaciones</h6>
        <div class="card card-custom mb-2" role="button" (click)="setAnimation(0)">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-wand-magic-sparkles fa-lg text-secondary me-3"></i>
              <span>Suave</span>
            </div>
            <div>
              <i class="fa-solid fa-check text-success me-2" *ngIf="mTemplate.template_animation === 0"></i>

            </div>
          </div>
        </div>
        <div class="card card-custom mb-2" role="button" (click)="setAnimation(1)">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-wand-magic-sparkles fa-lg text-secondary me-3"></i>
              <span>Brillante</span>
            </div>
            <div>
              <i class="fa-solid fa-check text-success me-2" *ngIf="mTemplate.template_animation === 1"></i>

            </div>
          </div>
        </div>
        <div class="card card-custom mb-2" role="button" (click)="setAnimation(2)">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-wand-magic-sparkles fa-lg text-secondary me-3"></i>
              <span>Desvanecimiento</span>
            </div>
            <div>
              <i class="fa-solid fa-check text-success me-2" *ngIf="mTemplate.template_animation === 2"></i>

            </div>
          </div>
        </div>
        <div class="card card-custom mb-2" role="button" (click)="setAnimation(3)">
          <div class="card-body d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="fa-solid fa-wand-magic-sparkles fa-lg text-secondary me-3"></i>
              <span>Desvanecimiento con brillo</span>
            </div>
            <div>
              <i class="fa-solid fa-check text-success me-2" *ngIf="mTemplate.template_animation === 3"></i>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
