<aside class="bg-base-200 min-h-screen w-64 flex flex-col border-r border-base-300">
  <a class="p-4 flex items-center justify-center" routerLink="/songs">
    <img src="assets/images/logo.png" alt="Blesong" class="w-44" />
  </a>

  <ul class="menu menu-lg w-full">
    @for (mHeaderMenu of mCustomMenu; track mHeaderMenu) {
      @if (mHeaderMenu.show === 'true') {
        <li class="menu-title">{{ mHeaderMenu.title }}</li>

        @for (mMenu of mHeaderMenu.menu; track mMenu) {
          @if (mMenu.show === 'true') {
            <li>
              <details [open]="mMenu.active">
                <summary>{{ mMenu.title }}</summary>
                <ul>
                  @for (mSubmenu of mMenu.submenu; track mSubmenu) {
                    @if (mSubmenu.show === 'true') {
                      <li>
                        <a [routerLink]="mSubmenu.route"
                           [class.menu-active]="mSubmenu.controller === mController">
                          {{ mSubmenu.title }}
                        </a>
                      </li>
                    }
                  }
                </ul>
              </details>
            </li>
          }
        }
      }
    }
  </ul>
</aside>
