<div class="modal fade" [ngClass]="mShow ? 'show animate__animated animate__fadeInDown animate__faster' : 'animate__animated animate__fadeOutUp'" tabindex="-1" id="kt_modal_1" style="display: block; z-index: 1056 !important;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" appDraggable>
        <h3 class="modal-title w-100 d-flex justify-content-center ps-4">{{ mTitle }}</h3>
        <div class="btn btn-icon btn-sm btn-active-light-primary ms-2" (click)="close(null)">
          <span class="svg-icon svg-icon-2x">
            <span class="fa-solid fa-xmark fa-xl"></span>
          </span>
        </div>
      </div>
      <div class="modal-header">
        <div class="w-100">
          <label class="form-label">Buscar</label>
          <input
                 #mSearchInput
                 type="text"
                 class="form-control"
                 [(ngModel)]="mSearchText"
                 placeholder="Buscar..."
                 (keyup)="filterOptions()">
        </div>
      </div>
      <div class="table-responsive" style="max-height: 300px;">
        <table class="table table-hover m-0">
          <tbody>

            <!-- Mensaje cuando no hay opciones disponibles -->
            <tr *ngIf="mFilteredOptions?.length === 0">
              <td class="text-center py-4">
                <i class="fa-solid fa-inbox fa-2x text-muted mb-2"></i>
                <p class="text-muted mb-0">No hay registros disponibles</p>
              </td>
            </tr>

            <!-- Iteramos sobre las opciones filtradas -->
            <tr *ngFor="let mOption of mFilteredOptions" class="cursor-pointer" (click)="close(mOption.idx)">
              <td class="align-middle">
                <div class="d-flex align-items-center">
                  <div class="me-3">
                    <div class="text-dark">{{ mOption.name }}</div>
                    <div class="small text-muted" *ngIf="mOption.description">{{ mOption.description }}</div>
                  </div>
                  <i class="fa-solid fa-circle-chevron-right ms-auto"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" (click)="close(null)">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- background modal -->
<div class="modal-background {{mShow ? 'd-block animate__animated animate__fadeIn animate__faster' : 'animate__animated animate__fadeOut'}}" style="z-index: 1055 !important;"></div>
