<div role="alert"
     [class]="'alert shadow-lg transition-opacity duration-300 ' + (
       mClassType === 'success' ? 'alert-success' :
       mClassType === 'info' ? 'alert-info' :
       mClassType === 'warning' ? 'alert-warning' :
       mClassType === 'danger' ? 'alert-error' : 'alert')"
     [class.opacity-0]="!mShow()"
     [class.opacity-100]="mShow()"
     (click)="close()">
  @switch (mClassType) {
    @case ('success') { <i-lucide name="circle-check" class="size-5"></i-lucide> }
    @case ('info')    { <i-lucide name="info" class="size-5"></i-lucide> }
    @case ('warning') { <i-lucide name="triangle-alert" class="size-5"></i-lucide> }
    @case ('danger')  { <i-lucide name="circle-alert" class="size-5"></i-lucide> }
  }
  <span>{{ mText }}</span>
</div>
